.header{
    background: #625A5A;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-left: 32px;
    padding-bottom: 22px;
    height: 200px;

    
}
.titulo-header{
    font-size: 28px;
    color: white;
}
.logo-header{
    width: 100px;
    margin-bottom: 18px;
}