.pergunta{
    font-weight: 100;
    font-size: 11pt;
    text-align: left;
    width: 88vw;
}

#objetivo{
    width: 88vw;
    height: 300px;
    margin-bottom: 50px;
    
}
h2{
    margin-bottom: 30px !important;
}

#botao{
    width: 90vw;
}
.erro{
    color: red;
}


.botaoEstilo{
    background-color: #625A5A;
    color: #fff;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px;
    height: 37px;
    font-size: 9pt;
    transition: background-color 0.5s;
}
.botaoEstilo:hover{
    background-color: #352c2c;
    cursor: pointer;
    transition: background-color  0.4s;
    
}